@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local(SourceSansPro-Regular),local(SourceSansPro-Regular),url(fonts/pathFont.woff) format("woff")
}

a {
	font-family: "Source Sans Pro"
}

b {}
