{
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "extends": "eslint:recommended",
    "rules": {
        "quotes": [2, "single"],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "no-console": 1,
        "key-spacing":[
            "error",
            {
                "beforeColon": false,
                "afterColon": true,
                "mode": "strict"
            }
        ],
        "no-debugger": 1,
        "no-var": 1,
        "semi": [1, "always"],
        "no-trailing-spaces": 1,
        "eol-last": 0,
        "no-underscore-dangle": 0,
        "no-alert": 0,
        "no-lone-blocks": 0,
        "jsx-quotes": 1,
        "no-duplicate-case": 0,
        "no-unused-vars": [
            1,
            { "vars": "all", "args": "after-used", "ignoreRestSiblings": true }
        ],
        "no-empty": [2, { "allowEmptyCatch": true }],
        "array-element-newline": [
            "warn",
            "consistent"
        ],
        "array-bracket-spacing": [
            "warn",
            "always",
            {
                "singleValue": true,
                "objectsInArrays": false,
                "arraysInArrays": false
            }
        ],
        "object-property-newline": [
            "warn",
            {
                "allowAllPropertiesOnSameLine": false
            }
        ]
    }
}
